<div
    class=" d-flex flex-column justify-content-center align-item-center body-content">
    <div>
        <h1>Price-Adjustor Panel</h1>
    </div>

    <form [formGroup]="myForm">
        <table class="table table-bordered admin-table text-center">
            <thead>
                <tr>
                    <th scope="col" class="col-md-2">#</th>
                    <th scope="col" class="col-2">Distance(Gap)</th>
                    <th scope="col" class="col-2">Description</th>
                    <th scope="col" class="col-3">Price</th>
                    <th scope="col" class="col-4">Last updated</th>
                </tr>
            </thead>
            <tbody formArrayName="fareRatesFormArray">
                <tr
                    *ngFor="let fareRate of fareRatesFormArray.controls; let i = index"
                    [formGroupName]="i">
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{fareRate.controls['distance'].value}}</td>
                    <td>
                        <!-- <input type="text" formControlName="description"
                            placeholder="Enter description" (blur)="logform()"
                            [class.is-invalid]="fareRate.controls['description'].invalid && (fareRate.controls['description'].touched || fareRate.controls['description'].dirty)">
                       <div
                            *ngIf="fareRate.get('description')?.invalid && (fareRate.get('description')?.dirty || fareRate.get('description')?.touched)">
                            <small class="text-danger"
                                *ngIf="fareRate.get('description')?.errors?.['required']">Description
                                is required.</small>
                            <small class="text-danger"
                                *ngIf="fareRate.get('description')?.errors?.['max']">Description
                                must be smaller than 255.</small>
                        </div> -->
                        <input type="text" formControlName="description"
                            placeholder="Enter description" (blur)="logform()"
                            [class.is-invalid]="fareRate.controls['description'].invalid && (fareRate.controls['description'].touched || fareRate.controls['description'].dirty)">
                        <div class="invalid-feedback">
                            <div
                                *ngIf="fareRate.controls['description'].touched && fareRate.controls['description'].errors?.['required']"
                                >Description is Required.</div>
                            <div
                                *ngIf="fareRate.controls['description'].errors?.['maxLength']"
                                class="text-danger">{{fareRate.controls['description'].errors?.['maxLength'].value}}</div>
                        </div>
                    </td>
                    <td>
                        <input type="number" formControlName="price"
                            placeholder="Enter price" (blur)="logform()"
                            [class.is-invalid]="fareRate.controls['price'].invalid && (fareRate.controls['price'].touched || fareRate.controls['price'].dirty)">
                        <div class="invalid-feedback">
                            <div
                                *ngIf="fareRate.controls['price'].touched && fareRate.controls['price'].errors?.['required']"
                                class="text-danger">{{fareRate.controls['price'].errors?.['required'].value}}</div>
                            <div
                                *ngIf="fareRate.controls['price'].errors?.['minNumber']"
                                class="text-danger">{{fareRate.controls['price'].errors?.['minNumber'].value}}</div>
                        </div>
                    </td>
                    <td>{{
                        dateService.formatDate(fareRate.controls['updateDatetime'].value)
                        }}</td>
                </tr>
                <tr>
                    <td colspan="12">
                        <div class="d-flex justify-content-center mt-1">
                            <button type="button"
                                class="btn btn-primary function-button"
                                (click)="openModal(confirmModal)">Save</button>
                            <br><br>
                            <button class="ml-5 btn btn-danger function-button"
                                (click)="loadFareRate()">Clear</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<ng-template #confirmModal>
    <div class="modal-body text-center">
        <p>Do you want to confirm?</p>
        <div class="d-flex align-items-center justify-content-around">
            <button type="button" class="btn btn-primary"
                (click)="onConfirm(); openModal(responseModal)">Yes</button>
            <button type="button" class="btn btn-danger"
                (click)="onDecline()">No</button>
        </div>
    </div>
</ng-template>

<ng-template #responseModal>
    <div *ngIf="messageResponse" class="modal-body text-center">
        <p>{{ messageResponse.message }}</p>
        <button type="button" class="btn btn-primary"
            (click)="closeModal()">Close</button>
    </div>
</ng-template>