<div class="container-fluid">
    <div class="d-flex flex-row body-content">
        <div class="col-md-6 left-column d-flex justify-content-center align-items-center show-img-user">
            <button class="btn btn-primary btn-lg align-self-center w-auto" routerLink="/search">
                Become User
            </button>
        </div>
        <div class="col-md-6 right-column d-flex justify-content-center align-items-center show-img-admin">
            <button class="btn btn-danger btn-lg align-self-center w-auto " routerLink="/admin">
                Become Admin
            </button>
        </div>
    </div>
</div>