.body-content {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
}

.body-content div {
  margin-top: 2em;
}

.transaction-table {
  margin-top: 3em;
  max-width: 70%;
}
