<form [formGroup]="form" (ngSubmit)="callCalculate(responseModalTemplate)">
	<div class="d-flex align-items-center justify-content-around"
		id="search-component">
		<ng-template #customItemTemplate let-model="item" let-index="index">
			<h5>This is: {{ model.stationName }} Full Name: {{ model.stationFullname }}
				Index: {{ index }}</h5>
		</ng-template>
		<div>
			<div class="mb-5">
				<label class="topic" for="origin">Origin:</label>
				<input 
					id="origin"
					type="text"
					formControlName="origin"
					[typeahead]="stations"
					[typeaheadOptionField]="'stationFullname'"
					[typeaheadOptionsLimit]="stations.length"
					[typeaheadMinLength]="0"
					[typeaheadItemTemplate]="customTemplate"
					typeaheadGroupField="colorMappingEntity.colorFullname"
					(typeaheadOnSelect)="onSelectOrigin($event)"
					class="form-control"
					placeholder="Enter Origin" />
				<div
					*ngIf="form.get('origin')?.invalid && (form.get('origin')?.dirty || form.get('origin')?.touched)"
					class="text-danger">
					<div *ngIf="form.get('origin')?.errors?.['required']">Origin is
						required.</div>
					<div *ngIf="form.get('origin')?.errors?.['maxLength']">Origin cannot be
						more than 5 characters long.</div>
				</div>
			</div>
			<div class="mb-5">
				<label class="topic" for="destination">Destination:</label>
				<input
					id="destination"
					type="text"
					formControlName="destination"
					[typeahead]="stations"
					[typeaheadOptionField]="'stationFullname'"
					[typeaheadOptionsLimit]="stations.length"
					[typeaheadMinLength]="0"
					[typeaheadItemTemplate]="customTemplate"
					typeaheadGroupField="colorMappingEntity.colorFullname"
					(typeaheadOnSelect)="onSelectDestination($event)"
					class="form-control"
					placeholder="Enter Destination" />
				<div
					*ngIf="form.get('destination')?.invalid && (form.get('destination')?.dirty || form.get('destination')?.touched)"
					class="text-danger">
					<div *ngIf="form.get('destination')?.errors?.['required']">Destination is
						required.</div>
					<div *ngIf="form.get('destination')?.errors?.['maxLength']">Destination
						cannot be more than 5 characters long.</div>
				</div>
			</div>
			<div class="alert-text">
				<alert *ngIf="messageResponse.message" type="danger" class="mt-2">
					{{ messageResponse.message }}
				</alert>
			</div>
			<div class="mt-2 d-flex justify-content-between">
				<div class="position-relative" dropdown>
					<button id="button-basic" dropdownToggle type="button"
						class="btn btn-success dropdown-toggle" aria-controls="dropdown-basic">
						{{ getSelectedTypeDescription() }} <span class="caret"></span>
					</button>
					<ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
						aria-labelledby="button-basic">
						<li role="menuitem" *ngFor="let type of types">
							<a class="dropdown-item" (click)="selectedType(type.id)">{{type.id}}.
								{{type.description}}</a>
						</li>
					</ul>
					<div *ngIf="form.get('type')?.errors?.['maxLength']">Destination
						cannot be more than 5 characters long.</div>
				</div>
				<div>
					<button class="btn btn-primary submit-button" type="submit"
						[disabled]="form.invalid">Search</button>
				</div>
			</div>
		</div>
	</div>
</form>

<ng-template #customTemplate let-model="item">
	{{ model.stationFullname }}
</ng-template>

<ng-template #responseModalTemplate>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Net Price</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body flex">
		<div class="flex-grow">
			<p><strong>Origin:</strong> {{ responseData.origin }}</p>
			<p><strong>Destination:</strong> {{ responseData.destination }}</p>
			<p><strong>Price:</strong> {{ responseData.price }} บาท</p>
			<p><strong>Type:</strong> {{ responseData.type }}</p>
			<img
				[src]="rabbitCardImagePath"
				alt="Image description"
				class="flex-grow-1 w-32 h-32 object-cover rounded-lg rabbitcard" />
		</div>
	</div>
</ng-template>