<form [formGroup]="form" (ngSubmit)="callCalculate(responseModalTemplate)">
	<div class="d-flex align-items-center justify-content-around"
		id="search-component">
		<ng-template #customItemTemplate let-model="item" let-index="index">
			<h5>This is: {{ model.stationName }} Full Name: {{ model.stationFullname }}
				Index: {{ index }}</h5>
		</ng-template>
		<div>
			<div class="mb-5">
				<label for="source">Source:</label>
				<input
					id="source"
					type="text"
					formControlName="source"
					[typeahead]="stations"
					[typeaheadOptionField]="'stationFullname'"
					[typeaheadOptionsLimit]="stations.length"
					[typeaheadMinLength]="0"
					[typeaheadItemTemplate]="customTemplate"
					(typeaheadOnSelect)="onSelectSource($event)"
					class="form-control"
					placeholder="Enter source" />
				<div
					*ngIf="form.get('source')?.invalid && (form.get('source')?.dirty || form.get('source')?.touched)"
					class="text-danger">
					<div *ngIf="form.get('source')?.errors?.['required']">Source is
						required.</div>
					<div *ngIf="form.get('source')?.errors?.['maxLength']">Source cannot be
						more than 5 characters long.</div>
				</div>
			</div>
			<div class="mb-5">
				<label for="destination">Destination:</label>
				<input
					id="destination"
					type="text"
					formControlName="destination"
					[typeahead]="stations"
					[typeaheadOptionField]="'stationFullname'"
					[typeaheadOptionsLimit]="stations.length"
					[typeaheadMinLength]="0"
					[typeaheadItemTemplate]="customTemplate"
					(typeaheadOnSelect)="onSelectDestination($event)"
					class="form-control"
					placeholder="Enter Destination" />
				<div
					*ngIf="form.get('destination')?.invalid && (form.get('destination')?.dirty || form.get('destination')?.touched)"
					class="text-danger">
					<div *ngIf="form.get('destination')?.errors?.['required']">Destination is
						required.</div>
					<div *ngIf="form.get('destination')?.errors?.['maxLength']">Destination
						cannot be more than 5 characters long.</div>
				</div>
			</div>
			<div class="alert-text">
				<alert *ngIf="messageResponse.message" type="danger" class="mt-2">
					{{ messageResponse.message }}
				</alert>
			</div>
			<ng-template #customTemplate let-model="item">
				{{ model.stationFullname }}
			</ng-template>
			<div class="mt-2 d-flex justify-content-between">
				<div class="position-relative" dropdown>
					<button id="button-basic" dropdownToggle type="button"
						class="btn btn-success dropdown-toggle" aria-controls="dropdown-basic">
						{{ form.value.type }} <span class="caret"></span>
					</button>
					<ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
						aria-labelledby="button-basic">
						<li role="menuitem" *ngFor="let type of types">
							<a class="dropdown-item" (click)="selectedType(type.id)">{{type.id}}.
								{{type.description}}</a>
						</li>
					</ul>
					<div *ngIf="form.get('type')?.errors?.['maxLength']">Destination
						cannot be more than 5 characters long.</div>
				</div>
				<div>
					<button class="btn btn-primary submit-button" type="submit"
						[disabled]="form.invalid">Submit</button>
				</div>
			</div>
		</div>
	</div>
</form>

<ng-template #responseModalTemplate>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Response Data</h4>
		<button type="button" class="close pull-right" aria-label="Close"
			(click)="closeModal()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p><strong>Source:</strong> {{ responseData.source }}</p>
		<p><strong>Destination:</strong> {{ responseData.destination }}</p>
		<p><strong>Price:</strong> {{ responseData.price }} บาท</p>
		<p><strong>Type:</strong> {{ responseData.type }}</p>
	</div>
</ng-template>