<div class="d-flex align-items-center justify-content-around" id="search-component">
    <ng-template #customItemTemplate let-model="item" let-index="index">
        <h5>This is: {{ model.stationName }} Full Name: {{ model.stationFullname }} Index: {{ index }}</h5>
    </ng-template>
    <div>
        <div class="mb-5">
            <label for="source">Source:</label>
            <input
                id="source"
                [(ngModel)]="source"
                [typeahead]="stations"
                [typeaheadOptionField]="'stationName'"
                [typeaheadOptionsLimit]
                [typeaheadMinLength]="0"
                [typeaheadItemTemplate]="customTemplate"
                class="form-control"
                placeholder="Enter source"/>
        </div>
        <div class="mb-5">
            <label for="destination">Destination:</label>
            <input
                id="destination"
                [(ngModel)]="destination"
                [typeahead]="stations"
                [typeaheadOptionField]="'stationName'"
                [typeaheadOptionsLimit]
                [typeaheadMinLength]="0"
                [typeaheadItemTemplate]="customTemplate"
                class="form-control"
                placeholder="Enter destination"
				needs-validation
                required />
        </div>
		<div class="alert-text">
			<alert *ngIf="messageResponse.message" type="danger" class="mt-2">
				{{ messageResponse.message }}
			</alert>
		</div>
        <ng-template #customTemplate let-model="item">
            {{ model.stationName }} ({{ model.stationFullname }})
        </ng-template>
        <div class="mt-2 d-flex justify-content-between">
            <div class="position-relative" dropdown>
                <button id="button-basic" dropdownToggle type="button"
                    class="btn btn-success dropdown-toggle"
                    aria-controls="dropdown-basic">
                    {{ type }} <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu
                    class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                    <li role="menuitem" *ngFor="let type of types">
                        <a class="dropdown-item" (click)="selectedType(type.id)">{{type.id}}. {{type.description}}</a>
                    </li>
                </ul>
            </div>
            <div>
                <button class="btn btn-primary submit-button" (click)="callCalculate()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="responseData">
    <h3>Response Data:</h3>
    <pre>{{ responseData | json }}</pre>
</div>