.search-component{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-component div{
    margin-top: 20px;
}

.button-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}