<header id="header" class="fixed-top">
    <div class="bg-white container-fluid position-relative d-flex align-items-center justify-content-between">

        <a routerLink="/" class="logo d-flex align-items-center text-decoration-none">
            <h1>GBTrain</h1><span></span>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a routerLink="/" class="text-decoration-none">Home</a></li>
                <li><a routerLink="/search" class="text-decoration-none">Search</a></li>
                <li><a routerLink="/admin" class="text-decoration-none">Admin</a></li>
            </ul>
        </nav>

        <a class="btn btn-danger" routerLink="/search">Get Started</a>
    </div>
</header>