<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

        <a routerLink="/" class="logo d-flex align-items-center">
            <h1 class="sitename">GBTrain</h1><span>.</span>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a routerLink="/" class="active">Home</a></li>
                <li><a routerLink="/search">Search</a></li>
                <li><a routerLink="/admin">Admin</a></li>
            </ul>
        </nav>

        <a class="btn btn-danger" routerLink="/search">Get Started</a>
    </div>
</header>