.body-content{
	width: 100%;
	height: 100vh;
}

body {
	font-family: "Montserrat", sans-serif;
	background: linear-gradient(
		to right,
		rgba(80, 89, 123, 0.9),
		rgba(255, 255, 255, 0)
	  ),
	  url("../../assets/img/Bangkok-BTS-Skytrain-Search.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
  }