<body>
    <div class="d-flex align-items-center justify-content-center body-content">
        <div
            class="container rounded d-flex flex-row align-items-center justify-content-around bg-white h-75">
            <div
                class="left-column d-flex justify-content-center align-items-center flex-column">
                <h1 class="mb-md-5">Search Panel</h1>
                <app-input-box></app-input-box>
            </div>
            <div
                class="right-column d-flex justify-content-center align-items-center overflow-hidden">
                <app-search-route-img></app-search-route-img>
            </div>
        </div>
    </div>
</body>
