.body-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-column, .right-column {
    width: 100%;
    height: 100%;
    display: flex;
}

.left-column {
    border-right: 0px solid #000; 
}
.full-height-img {
    height: 80vh;
    width: auto;
    max-width: 100%; 
}